accelerate>=0.16.0,<1
click>=8.0.4,<9
datasets>=2.10.0,<3
deepspeed>=0.8.3,<0.9
transformers[torch]>=4.28.1,<5
langchain>=0.0.139
protobuf==3.20.3
torch==2.0.1
tensorboard
wandb
scikit-learn
tqdm
evaluate
trl==0.5.0
peft==0.4.0
bitsandbytes==0.41.1
pydantic==1.10.9
fire
py7zr
nltk
rouge-score
